.Products .Product-container{
    display: grid;
    grid-template-columns: 18vw 18vw auto;
    position: relative;
    background: var(--white-bg);
    
}

.Product-feed, .ProductsItems{
    background: var(--grey-back);
}

.Products .Product-container .Product-aside{
    margin-top: 5px;
}