.Wishlist .wish-container{
    display: grid;
    grid-template-columns: 18vw auto;
    position: relative;
    background: var(--white-bg);
}

.wish-feed{
    background: var(--grey-back);
}

.Wishlist .wish-container .wish-aside{
    margin-top: 5px;
}