.Storeshops .Storewish-wrap .Storelists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
    max-height: 500px;
    max-width: 1300px;
    scrollbar-width: none;
    overflow-y: auto;
}

.Storeshops{
    margin-top: 80px;
    padding: 20px;
    position: relative;
}



.Storeshops .Storewish-wrap .Storelists .list{
    box-shadow: 0 1px 1px grey;
    padding: 10px 2px;
    border-radius: 5px;
}

.Storewish-wrap h5{
    color: var(--dark-font);
}

.Storeshops .Storewish-wrap .Storelists .list .list-upper h1{
    font-size: 1.3rem;
    margin-left: 2px;
}

.Storeshops .Storewish-wrap .Storelists .list .list-upper{
    padding: 10px;
    width: auto;
    height: 160px;
    position: relative;
}

.Storeshops .Storewish-wrap .Storelists .list .list-upper .main{
    width: 95%;
    height: 98%;
    right: 2%;
    top: 0;
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
}

.Storeshops .Storewish-wrap .Storelists .list .list-upper .Lovethis{
    width: 1.3rem;
    top: 70%;
    right: 10%;
    height: 1.3rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc{
    padding: 10px;
    margin-top: 10px;
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc .list-desc-upper{
    display: flex;
    align-items: center;
    color: var(--dark-font);
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc .list-desc-lower{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc .list-desc-lower .desc-lower-text{
    margin-left: 10px;
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc .list-desc-lower p{
    font-size: 0.7rem;
    color: var(--dark-font);
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc .list-desc-lower small{
    font-size: 0.7rem;
    color: #fcbf49;
}

.Storeshops .Storewish-wrap .list .actions{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.Storeshops .Storewish-wrap .list .vis{
  background-color: #fcbf49;
  color: var(--white-font);
  border: none;
}

.Storeshops .Storewish-wrap .list .fol{
    
    background-color: var(--dark-font);
    color: var(--white-font);
}

.Storeshops .Storewish-wrap .list .sav{

    background-color: var(--white-font);
    color: var(--dark-font);
    border: 1px solid gray;
}

.Storeshops .Storewish-wrap .Storelists .list button{
    padding: 8px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc .list-desc-upper p{
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 0.65rem;
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc .list-desc-upper h2{
    margin-left: 3rem;
    font-size: 1.2rem;
    color: rgb(83, 180, 0);
}

.Storeshops .Storewish-wrap .Storelists .list .list-desc img{
    position: relative;
    margin-left: 10px;
    margin-bottom: 8px;
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid #fcbf49;
    border-radius: 50%;
}

.Storeshops.list .big-name{
    font-weight: bold;
    font-size: 0.75rem;
    margin-bottom: 4px;
}

.Storeshops .list-desc-stat{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 8px;
}

.Storeshops .list.desc.stat p{
    color: var(--dark-font);
    font-size: 0.9rem;
}

 .Storeshops .po .catl .foll{
    font-weight: bold;
}

.Storeshops .list-desc-stat small{
    font-size: 0.57rem;
    color: var(--dark-font);
}

.Storeshops .headnam{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.Storeshops .headnam img{
    width: 20px;
}

.Storepop{
    padding: 20px;
    background-color: var(--white-font);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.Storepop h1{
    font-size: 1.4rem;
}

.Storepop p{
    font-size: 0.7rem;
}